/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
.sz {
  font-size: large;
  padding-left: 20px;
}
.gridbox {
  width: 100px;
  height: 100px;
}
.sz1 {
  font-size: large;
}
.small-table {
  font-size: 12px;
  width: 40%;
  /* Đặt kích thước chữ cho bảng */
  /* Thêm các thuộc tính CSS khác tùy thuộc vào kích thước và kiểu của bảng bạn muốn */
}
.btn-sm {
  font-size: 14px;
  /* Điều chỉnh kích thước chữ của nút */
  padding: 5px 10px;
  /* Điều chỉnh padding của nút */
}

.image-thumbnail {
  max-width: 70px;
  max-height: 70px;
}
.image-avt {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
}
.height-chat {
  height: 500px;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  /* Điều chỉnh khoảng cách giữa chấm và văn bản */
}

.dot-green {
  background-color: green;
  /* Màu xanh lá */
}

.dot-gray {
  background-color: gray;
  /* Màu xám */
}
ul {
  list-style-type: none;
  /* Loại bỏ loại ký hiệu mặc định (trong trường hợp này là dấu chấm) */
}
a{
  cursor: pointer;
}
.ma-don-hang {
  padding: 5px;
  color: blue;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.img-don-hang{
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
}
.txt-don-hang{
  color: blue;
  font-size: 15px;
}
/* CSS */
.table-hover tbody tr:hover {
  background-color: #8987ff3d; /* Màu nền khi hover */
  cursor: pointer;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5); /* Hiệu ứng viền khi hover */
}

.fixer-tuychon {
  max-width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.483);
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  transition: transform 0.5s ease; /* Sử dụng transition để thêm hiệu ứng trượt */
  transform: translateX(100%); /* Bắt đầu ở vị trí 100% bên phải */
}

.fixer-tuychon.active {
  transform: translateX(0); /* Kết thúc ở vị trí ban đầu */
}
.error-input {
  border-color: #ff0000; /* Đổi màu viền thành màu đỏ */
  box-shadow: 0 0 5px #ff0000; /* Thêm đổ bóng đỏ */
  /* Các thuộc tính khác để làm sáng ô input lên nếu cần */
}
.highlight-row {
  background-color: rgba(255, 255, 0, 0.564); /* Màu nền của hàng khi được làm nổi bật */
  /* Các thuộc tính khác để làm nổi bật hàng */
}
.card-body {
  padding: 20px;
}
.card-text {
  margin-bottom: 15px;
}
.form-group label {
  font-weight: bold;
}
.card-body {
  padding: 20px;
}
.card-text {
  margin-bottom: 15px;
}
.form-group label {
  font-weight: bold;
}
.form-control {
  color: #007bff;
}
.custom-input, .custom-select {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #007bff;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select option {
  color: #000;
}

.btn-sm {
  font-size: 14px;
  /* Điều chỉnh kích thước chữ của nút */
  padding: 5px 10px;
  /* Điều chỉnh padding của nút */
}

.small-table {
  width: 50%;
  /* Điều chỉnh chiều rộng của bảng */
  font-size: 14px;
  /* Điều chỉnh kích thước chữ */
}

.image-thumbnail {
  max-width: 100px;
  max-height: 100px;
}
.img-fluid{
  max-width: 200px;
  max-height: 250px;
}
.headerchat{
  height: 64px;
  width: 100%;
}
.hide{
  display: none;
}