
.page {
    max-width: 640px;
    margin: 0px auto 30px auto;
}

.panel {
    background-color: #fff;
    color: #666;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

#button-slide {
    border: none;
}
/********** TYPOGRAPHY **********/

a {
    text-decoration: none;
}

#button-slide {
    font-size: 90%;
    text-align: left;
    text-transform: uppercase;
}

/*****************  No JS ***************/
#billboard {
    text-align: center;
}

.js-warning {
    display: none;
}

.no-js .js-warning {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    background-color: #fff;
    color: #db5391;
    padding: 10px;
}

/********** SLIDER **********/
.slider {
    height: auto;
    width: 1200px;
    margin: 0px auto 30px auto;
    padding: 100px 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.slide img {
    height: 400px;
    width: 1200px;
    border-radius: 10px;
}


.slide-prev,
.slide-next {
    position: absolute;
    /* Định vị tuyệt đối so với phần slider */
    top: 50%;
    /* Đặt vị trí ở giữa theo chiều dọc */
    transform: translateY(-50%);
    /* Dịch chuyển nút lên trên một nửa chiều cao của chính nó để căn giữa */
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền của nút */
    color: white;
    /* Màu chữ của nút */
    border: none;
    /* Loại bỏ viền */
    padding: 10px;
    /* Khoảng cách bên trong nút */
    cursor: pointer;
    /* Con trỏ chuột thành dạng bàn */
    transition: background-color 0.3s ease;
    /* Hiệu ứng chuyển đổi màu nền */
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.slide-prev {
    left: 0;
    /* Đặt vị trí của nút chuyển sang trước ở bên trái */
}

.slide-next {
    right: 0;
    /* Đặt vị trí của nút chuyển sang sau ở bên phải */
}

.slide-prev:hover,
.slide-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu nền của nút khi hover */
}




.slide-viewer {
    position: relative;
    /* needed for IE7 */
    overflow: hidden;
    height: 430px;
    border-radius: 10px;
}

.slide-group {
    width: 1200px;
    height: 100%;
    position: relative;
}

.slide {
    width: 1200px;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
    border-radius: 10px;
}

.slide-buttons {
    text-align: center;
    z-index: 20;
    position:absolute;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-top: -60px;
    left: 55%;
}

.slide-buttons button {
    width: 10px;
    height: 10px;
    margin: 2px;
    /* Set height equal to width to make it a square */
}
.slide-btn {
    border: none;
    background: none;
    color: linear-gradient(to left, #7a60ff, #cd9ffa);
    color: #7a60ff;
    font-size: 10px;
    padding: -10px;
    height: max-content;
}

.slide-btn.active,
.slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;
    height: max-content;
}

@media all and (max-width:768px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 80%;
        margin-left: 50px;
    }

    .slide-btn {
        line-height: 0.5em;
        height: max-content;
    }
}

@media all and (max-width:991px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
            margin-top: -60px;
    left: 50%;
    }

    .slide-btn {
        line-height: 0.5em;
        height: max-content;
    }
}


@media all and (min-width: 768px) {
    .slide-buttons button {
        width: 10px;
        height: 10px;
        margin: 2px;
        /* Set height equal to width to make it a square */
    }

    .slide-btn {
        border: none;
        background: none;
        color: linear-gradient(to left, #7a60ff, #cd9ffa);
        color: #7a60ff;
        font-size: 10px;
        padding: -10px;
        height: max-content;
    }
}

@media all and (max-width:768px) {

    .slide-prev,
    .slide-next {
        margin-top: -7%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 1200px;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        margin-top: -3%;
        left: 57%;
    }

    .slide-buttons button {
        width: 10px;
        height: 10px;
        margin: 2px;
        /* Set height equal to width to make it a square */
    }

    .slide-btn {
        font-size: 10px;
        padding: -10px;
    }

}

@media all and (max-width:991px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 82%;
        left: 40%;
    }

    .slide-buttons button {
        width: 10px;
        height: 10px;
        margin: 2px;
        /* Set height equal to width to make it a square */
    }

    .slide-btn {
        border: none;
        background: none;
        color: linear-gradient(to left, #7a60ff, #cd9ffa);
        color: #7a60ff;
        font-size: 10px;
        padding: -10px;
        height: max-content;
    }
}


.hidden {
    display: none;
}