
.page {
    max-width: 640px;
    margin: 0px auto 30px auto;
}

.panel {
    background-color: #fff;
    color: #666;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

#button-slide {
    border: none;
}
/********** TYPOGRAPHY **********/

a {
    text-decoration: none;
}

#button-slide {
    font-size: 90%;
    text-align: left;
    text-transform: uppercase;
}

/*****************  No JS ***************/
#billboard {
    text-align: center;
}

.js-warning {
    display: none;
}

.no-js .js-warning {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    background-color: #fff;
    color: #db5391;
    padding: 10px;
}

/********** SLIDER **********/
.slider {
    height: auto;
    width: 1200px;
    margin: 0px auto 30px auto;
    padding: 100px 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.slide img {
    height: 400px;
    width: 1200px;
    border-radius: 10px;
}


.slide-prev,
.slide-next {
    position: absolute;
    /* Định vị tuyệt đối so với phần slider */
    top: 50%;
    /* Đặt vị trí ở giữa theo chiều dọc */
    transform: translateY(-50%);
    /* Dịch chuyển nút lên trên một nửa chiều cao của chính nó để căn giữa */
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền của nút */
    color: white;
    /* Màu chữ của nút */
    border: none;
    /* Loại bỏ viền */
    padding: 10px;
    /* Khoảng cách bên trong nút */
    cursor: pointer;
    /* Con trỏ chuột thành dạng bàn */
    transition: background-color 0.3s ease;
    /* Hiệu ứng chuyển đổi màu nền */
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.slide-prev {
    left: 0;
    /* Đặt vị trí của nút chuyển sang trước ở bên trái */
}

.slide-next {
    right: 0;
    /* Đặt vị trí của nút chuyển sang sau ở bên phải */
}

.slide-prev:hover,
.slide-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu nền của nút khi hover */
}




.slide-viewer {
    position: relative;
    /* needed for IE7 */
    overflow: hidden;
    height: 430px;
    border-radius: 10px;
}

.slide-group {
    width: 1200px;
    height: 100%;
    position: relative;
}

.slide {
    width: 1200px;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
    border-radius: 10px;
}

.slide-buttons {
    text-align: center;
    z-index: 20;
    position:absolute;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-top: -60px;
    left: 50%;
}

.slide-buttons button {
    width: 10px;
    height: 10px;
    margin: 2px;
    /* Set height equal to width to make it a square */
}
.slide-btn {
    border: none;
    background: none;
    color: linear-gradient(to left, #7a60ff, #cd9ffa);
    color: #7a60ff;
    font-size: 10px;
    padding: -10px;
    height: max-content;
}

.slide-btn.active,
.slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;
    height: max-content;
}
@media all and (max-width:768px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        margin-top: -50px;
        margin-left: 50px;
    }

    .slide-btn {
        line-height: 0.5em;
        height: max-content;
    }
}

@media all and (max-width:991px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
            margin-top: -60px;
    left: 55%;
    }

    .slide-btn {
        line-height: 0.5em;
        height: max-content;
    }
}


@media all and (min-width: 768px) {
    .slide-buttons button {
        width: 10px;
        height: 10px;
        margin: 2px;
        /* Set height equal to width to make it a square */
    }

    .slide-btn {
        border: none;
        background: none;
        color: linear-gradient(to left, #7a60ff, #cd9ffa);
        color: #7a60ff;
        font-size: 10px;
        padding: -10px;
        height: max-content;
    }
}

@media all and (max-width:768px) {

    .slide-prev,
    .slide-next {
        margin-top: -7%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 1200px;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        margin-top: -3%;
        left: 57%;
    }

    .slide-buttons button {
        width: 10px;
        height: 10px;
        margin: 2px;
        /* Set height equal to width to make it a square */
    }

    .slide-btn {
        font-size: 10px;
        padding: -10px;
    }

}

@media all and (max-width:991px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 82%;
        left: 40%;
    }

    .slide-buttons button {
        width: 10px;
        height: 10px;
        margin: 2px;
        /* Set height equal to width to make it a square */
    }

    .slide-btn {
        border: none;
        background: none;
        color: linear-gradient(to left, #7a60ff, #cd9ffa);
        color: #7a60ff;
        font-size: 10px;
        padding: -10px;
        height: max-content;
    }
}


.hidden {
    display: none;
}

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"); */

:root {
    --bodyFonts: "Josefin Sans", sans-serif;
    --pinkColor: #5557f3;
    --titleColor: #000000;
    --bodyColor: #666666;
    --lightblueColor: #8d99ff;
    --whiteColor: #ffffff;
    /* --fontSize: 16px; */
    --transition: 0.5s;
}

img {
    max-width: 1200px;
}

hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pt-100 {
    padding-top: 100px;
}

.pt-45 {
    padding-top: 45px;
}

#not_found {
    text-align: center;
    color: red;
}

.grand-total {
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}

.table {
    margin-bottom: 0 !important;
}

.default-btn {
    padding: 12px 25px 10px;
    text-align: center;
    color: var(--whiteColor) !important;
    font-size: var(--fontSize);
    transition: var(--transition);
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    z-index: 0;
    background: var(--pinkColor);
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.default-btn:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 550px;
    height: 550px;
    margin: auto;
    background: var(--lightblueColor);
    border-radius: 8px;
    z-index: -1;
    transform-origin: top center;
    transform: translateX(-50%) translateY(-5%) scale(0.4);
    transition: transform 0.9s;
}

.default-btn:hover {
    color: var(--whiteColor) !important;
}

.default-btn:hover:before {
    transition: transform 1s;
    transform: translateX(-45%) translateY(0) scale(1);
    transform-origin: bottom center;
}

/* .btn-success {
    background-color: #f96b6a !important;
    border-color: #f96b6a !important;
} */

.featured-area {
    background-color: #edeff9;
}

.featured-tab-area .tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.featured-tab-area .tabs li {
    display: inline-block;
    line-height: initial;
    margin-right: 20px;
}

.featured-tab-area .tabs li a {
    display: inline-block;
    position: relative;
    color: var(--titleColor);
    padding: 13px 26px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.featured-tab-area .tabs li.active a {
    background-color: var(--pinkColor);
    color: var(--whiteColor);
}

.featured-tab-area .tabs li.current a {
    background-color: var(--pinkColor);
    color: var(--whiteColor);
}

.featured-tab-area-ml .tabs {
    margin-top: 0 !important;
    float: left;
}

.tab .tabs_item {
    display: none;
}

.tab .tabs_item:first-child {
    display: block;
}

.featured-item {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.featured-item .featured-item-img {
    position: relative;
    z-index: 1;
    transition: 0.3s linear;
    overflow: hidden;
}

.featured-item .featured-item-img a {
    display: block;
}

.featured-item .featured-item-img a img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 4px solid var(--whiteColor);
    transition: 0.3s linear;
}

.featured-item .featured-item-img a img:hover {
    scale: 1.08;
}

.featured-item .content {
    padding: 20px 15px;
}

.featured-item .content h3 {
    margin-bottom: 10px;
}

.featured-item .content h3 a {
    color: var(--titleColor);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-weight: bold;
}

.featured-item .content .content-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 10px;
    border-radius: 3px;
}

.featured-item .content .content-in i {
    color: #ffcc00;
}

.featured-item .content .content-in span {
    font-size: 15px;
    color: var(--titleColor);
    font-weight: 500;
}

.featured-item .content .content-in h4 {
    font-size: 15px;
    color: var(--titleColor);
    font-weight: 500;
    margin-bottom: 0;
}

.featured-item .content .featured-content-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0;
}

.featured-tab-area .tabs li {
    margin-right: 5px;
}

#staticBackdropLabel {
    font-weight: bold;
}

/* responsive css */




@media all and (max-width:768px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 1200px;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 82%;
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 cột có độ rộng bằng nhau */
        grid-template-rows: repeat(7, max-content);
        /* 5 hàng có chiều cao là 320px */
        grid-gap: 1rem;
    }

    .item {
        background-color: #eae5f7;
        color: black;
        border-radius: 10px;
        padding: 10px;
    }

    .tag-voucher img {
        height: 30px;
    }

    .img-ip {
        height: 200px;
    }

    .img-ip img {
        height: 200px;
    }

    .giatien {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .txt-name {
        font-size: 18px;
        margin-top: 20px;
    }

    #gia-uu-dai {
        color: blue;
        line-height: 20px;
        font-weight: 700;
        font-size: 15px;
    }

    #giagoc {
        color: dimgrey;
        font-size: 15px;
        text-decoration: line-through;
        margin-left: -0.5px;
    }

    #phan-tram {
        color: dimgrey;
        float: left;
        margin-left: 0;
    }

    .add-shoping {
        background-color: #d8caf7;
        font-size: 20px;
        border: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
    }

    .adding::after {
        content: '';
        position: absolute;
        width: auto;
        height: 3px;
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: right left;
        transition: .3s;
        margin-left: 4px;
        margin-top: -7px;
    }

    .adding:hover::after {
        transform: scaleX(1);
    }

    #text-add-shoping {
        font-size: 16px;
        text-transform: none;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

@media all and (max-width:991px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 82%;
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 cột có độ rộng bằng nhau */
        grid-template-rows: repeat(7, max-content);
        /* 5 hàng có chiều cao là 320px */
        grid-gap: 0.5rem;
    }

    .item {
        background-color: #eae5f7;
        color: black;
        border-radius: 10px;
        padding: 10px;
    }

    .tag-voucher img {
        height: 30px;
    }

    .img-ip {
        height: 170px;
    }

    .img-ip img {
        height: 170px;
        margin-top: 10px;
    }

    .giatien {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .txt-name {
        font-size: 20px;
        margin-top: 10px;
    }

    #gia-uu-dai {
        color: blue;
        line-height: 20px;
        font-weight: 700;
        font-size: 15px;
    }

    #giagoc {
        color: dimgrey;
        font-size: 15px;
        text-decoration: line-through;
        margin-left: -0.5px;
    }

    #phan-tram {
        color: dimgrey;
        float: left;
        margin-left: 0;
    }

    .add-shoping {
        background-color: #d8caf7;
        font-size: 20px;
        border: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
    }

    .adding::after {
        content: '';
        position: absolute;
        width: auto;
        height: 3px;
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: right left;
        transition: .3s;
        margin-left: 4px;
        margin-top: -7px;
    }

    .adding:hover::after {
        transform: scaleX(1);
    }

    #text-add-shoping {
        font-size: 16px;
        text-transform: none;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.page {
    max-width: 640px;
    margin: 0px auto 30px auto;
}

.panel {
    background-color: #fff;
    color: #666;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

#button-slide {
    border: none;
}

/********** LOGO **********/
/* h1 {
  text-align: center;
  width: 200px;
  height: 20px;
  margin: 40px auto 40px auto;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
} */


.txt-ip {
    color: black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/********** TYPOGRAPHY **********/

a {
    text-decoration: none;
}

#button-slide {
    font-size: 90%;
    text-align: left;
    text-transform: uppercase;
}

/*****************  No JS ***************/
#billboard {
    text-align: center;
}

.js-warning {
    display: none;
}

.no-js .js-warning {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    background-color: #fff;
    color: #db5391;
    padding: 10px;
}

/********** SLIDER **********/
.slider {
    height: auto;
    width: 1200px;
    margin: 0px auto 30px auto;
    padding: 100px 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.slide img {
    height: 400px;
    width: 1200px;
    border-radius: 10px;
}


.slide-prev,
.slide-next {
    position: absolute;
    /* Định vị tuyệt đối so với phần slider */
    top: 50%;
    /* Đặt vị trí ở giữa theo chiều dọc */
    transform: translateY(-50%);
    /* Dịch chuyển nút lên trên một nửa chiều cao của chính nó để căn giữa */
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền của nút */
    color: white;
    /* Màu chữ của nút */
    border: none;
    /* Loại bỏ viền */
    padding: 10px;
    /* Khoảng cách bên trong nút */
    cursor: pointer;
    /* Con trỏ chuột thành dạng bàn */
    transition: background-color 0.3s ease;
    /* Hiệu ứng chuyển đổi màu nền */
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.slide-prev {
    left: 0;
    /* Đặt vị trí của nút chuyển sang trước ở bên trái */
}

.slide-next {
    right: 0;
    /* Đặt vị trí của nút chuyển sang sau ở bên phải */
}

.slide-prev:hover,
.slide-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu nền của nút khi hover */
}




.slide-viewer {
    position: relative;
    /* needed for IE7 */
    overflow: hidden;
    height: 430px;
    border-radius: 10px;
}

.slide-group {
    width: 1200px;
    height: 100%;
    position: relative;
}

.slide {
    width: 1200px;
    height: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
    border-radius: 10px;
}

/********** BUTTONS **********/
.slide-buttons {
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 78%;
    left: 50%;
    height: max-content;

}


/* .slide-btn {
    border: none;
    background: none;
    color: linear-gradient(to left, #7a60ff, #cd9ffa);
    color: #7a60ff;
    line-height: 0.5em;
    font-size: 30px;
    height: max-content;
} */

.slide-btn.active,
.slide-btn:hover {
    color: #ed8e6c;
    cursor: pointer;
    height: max-content;
}


.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 cột có độ rộng bằng nhau */
    grid-template-rows: repeat(5, max-content);
    /* 5 hàng có chiều cao là 320px */
    grid-gap: 1rem;
}

.item {
    background-color: #d8caf7;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.giatien {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.txt-name {
    font-size: 18px;
    margin-top: 20px;
}

.img-ip {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tag-voucher {}

.tag-voucher img {
    height: 40px;
    float: right;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

#gia-uu-dai {
    color: blue;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
}

#giagoc {
    color: dimgrey;
    margin-left: 10px;
    font-size: 15px;
    text-decoration: line-through;
}

#phan-tram {
    color: dimgrey;
    margin-left: auto;
}

.add-shoping {
    background-color: #d8caf7;
    font-size: 30px;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.adding::after {
    content: '';
    position: absolute;
    width: 175px;
    height: 3px;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right left;
    transition: .3s;
    margin-left: 4px;
    margin-top: -7px;
}

.adding:hover::after {
    transform: scaleX(1);
}

#text-add-shoping {
    font-size: 16px;
    text-transform: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

@media all and (max-width:768px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 80%;
        margin-left: -14px;
    }

    .slide-btn {
        line-height: 0.5em;
        font-size: 25px;
        height: max-content;
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 cột có độ rộng bằng nhau */
        grid-template-rows: repeat(7, max-content);
        /* 5 hàng có chiều cao là 320px */
        grid-gap: 1rem;
    }

    .item {
        background-color: #eae5f7;
        color: black;
        border-radius: 10px;
        padding: 10px;
    }

    .tag-voucher img {
        height: 30px;
    }

    .img-ip {
        height: 200px;
    }

    .img-ip img {
        height: 200px;
    }

    .giatien {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .txt-name {
        font-size: 18px;
        margin-top: 20px;
    }

    #gia-uu-dai {
        color: blue;
        line-height: 20px;
        font-weight: 700;
        font-size: 15px;
    }

    #giagoc {
        color: dimgrey;
        font-size: 15px;
        text-decoration: line-through;
        margin-left: -0.5px;
    }

    #phan-tram {
        color: dimgrey;
        float: left;
        margin-left: 0;
    }

    .add-shoping {
        background-color: #d8caf7;
        font-size: 20px;
        border: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
    }

    .adding::after {
        content: '';
        position: absolute;
        width: auto;
        height: 3px;
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: right left;
        transition: .3s;
        margin-left: 4px;
        margin-top: -7px;
    }

    .adding:hover::after {
        transform: scaleX(1);
    }

    #text-add-shoping {
        font-size: 16px;
        text-transform: none;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

@media all and (max-width:991px) {

    .slide-prev,
    .slide-next {
        top: 55%;
    }

    .slide img {
        height: auto;
        /* Giữ tỷ lệ khung hình */
        width: 100%;
    }

    .slider {
        max-width: 100%;
        max-height: 100%;
    }

    .slide-group {
        width: 100%;
        height: 200%;
        position: relative;
    }

    .slide {
        width: 100%;
    }

    .slide-buttons {
        top: 82%;
        margin-left: -14px;
    }

    .slide-btn {
        line-height: 0.5em;
        font-size: 25px;
        height: max-content;
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 cột có độ rộng bằng nhau */
        grid-template-rows: repeat(7, max-content);
        /* 5 hàng có chiều cao là 320px */
        grid-gap: 0.5rem;
    }

    .item {
        background-color: #eae5f7;
        color: black;
        border-radius: 10px;
        padding: 10px;
    }

    .tag-voucher img {
        height: 30px;
    }

    .img-ip {
        height: 170px;
    }

    .img-ip img {
        height: 170px;
        margin-top: 10px;
    }

    .giatien {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .txt-name {
        font-size: 18px;
        margin-top: 20px;
    }

    #gia-uu-dai {
        color: blue;
        line-height: 20px;
        font-weight: 700;
        font-size: 15px;
    }

    #giagoc {
        color: dimgrey;
        font-size: 15px;
        text-decoration: line-through;
        margin-left: -0.5px;
    }

    #phan-tram {
        color: dimgrey;
        float: left;
        margin-left: 0;
    }

    .add-shoping {
        background-color: #d8caf7;
        font-size: 20px;
        border: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
    }

    .adding::after {
        content: '';
        position: absolute;
        width: auto;
        height: 3px;
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        border-radius: 5px;
        transform: scaleX(0);
        transform-origin: right left;
        transition: .3s;
        margin-left: 4px;
        margin-top: -7px;
    }

    .adding:hover::after {
        transform: scaleX(1);
    }

    #text-add-shoping {
        font-size: 16px;
        text-transform: none;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}





.hidden {
    display: none;
}

/* styles.css */
.form-popup {
    display: none;
    position: absolute;
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    z-index: 9;
    /* margin-top: 800px; */
}

.form-container input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}