* {
    padding: 0;
    margin: 0;
}

.body-style {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 14px;
    padding-left: 0;
}

.container {
    max-width: 1250px;
}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-height: 40px;
    line-height: 40px;
    z-index: 1030;
    /* background: #7a60ff; */
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
}